<footer>
  <div class="footer-content-container">
    <div class="footer-content">
      <h3>Get to know us</h3>
      <p><a routerLink="/about">About Us</a></p>
    </div>

    <div class="footer-content">
      <h3>Connect with Us</h3>
      <p><i class="fab fa-facebook"></i>Facebook</p>
      <p><i class="fab fa-twitter"></i>Twitter</p>
      <p><i class="fab fa-instagram"></i>Instagram</p>
    </div>

    <div class="footer-content">
      <h3>Privacy policy</h3>
      <p>Our online cosmetics store values your privacy. We collect and use personal information, such as name, contact details, and purchase history, to process orders, provide support, and enhance your experience. We employ security measures to protect your data, and third-party partners are trusted to assist with services like payments and shipping. You can opt out of marketing communications. Our policy is subject to occasional updates.</p>
    </div>
  </div>
</footer>
