<!-- ========================================================================================================== -->
<nav class="container">
   <div class="title">
    <h2 style="width: 1;"><a routerLink="/container" style="color: white;">Fair Glow</a>
    </h2>
  </div>
  <ul class="dropdown">
    <li style="color: white;
    padding: 10px 0;
    width: 109px;
    text-decoration: none;
    text-align: center;
    padding-right: 25px;
    font-size: medium;
    font-weight: 500;
    display: block;">Category
      <ul class="course">
        <a routerLink="/base"><li>base</li></a>
        <a routerLink="/eyes"><li>Eyes</li></a>
        <a routerLink="/eyebrows"><li>Eyebrows</li></a>
        <a routerLink="/lips"><li>Lips</li></a>
        <a routerLink="/creams"><li>Creams</li></a>
        <a routerLink="/sprays"><li>Sprays</li></a>
      </ul>
    </li>
      <li>
        <a routerLink="/contact">Contact
          <i class="fas fa-envelope"></i>
        </a>
      </li>

      <li>
        <a routerLink="/cart">Cart
          <i class="fas fa-shopping-cart"></i>
          <span class="cart-count">{{ getCartCount() }}</span>
        </a>
      </li>

      <li>
        <a routerLink="/login" (click)="login()">Login</a>
      </li>
    </ul>
</nav>
<!-- ======================================================== -->

<div>
  <router-outlet>   </router-outlet>
</div>
<app-footer></app-footer>
<!-- The router-outlet displays the routed component -->
