<div class="ui-card">
  <div class="ui slide masked reveal image innerimg">
    <img src="/assets/open1.avif" class="visible content" >
    <img src="/assets/open.avif" class="hidden content" >
  </div>
</div>
<!-- ============================================================================================================= -->
<app-user-login></app-user-login>
          <h3 class="titleOffer">
              <b>
                <!-- <i class="fas fa-heart"></i> -->
                <i> Best OFFERS! Just for you</i>
            </b>
          </h3>
<div class="offers">
  <!-- category -->
<div class="uicard">
  <div class="ui slide masked reveal image slider-image">
    <img src="/assets/category0.webp" class="hidden content">
    <img src="/assets/category1.webp" class="visible content">
  </div>
  <span style="margin-left: 65px;"><a routerLink="">Deal of the day</a></span>
</div>

<!-- combo offer -->
<div class="uicard">
  <div class="ui slide masked reveal image slider-image">
      <img src="/assets/combo1.avif" class="hidden content">
      <img src="/assets/combo0.avif" class="visible content">
  </div>
    <span style="margin-left: 50px;"><a routerLink="combo">Combo offers best suits you</a></span>
</div>

<!-- discountonfirstorder -->
<div class="uicard">
  <div class="ui slide masked reveal image slider-image">
    <img src="/assets/discountonfirstorder.avif" class="hidden content">
    <img src="/assets/sale.avif" class="visible content">
  </div>
  <span style="margin-left: 25px;"><a routerLink="/homeproducts">Get upto &#8377; 100 off on your 1st order</a></span>
</div>
</div>


<!-- ============================================================================================================ -->
<!-- categories display -->
<br>
<div id="middle">
  <h3 class="titleOffer"><b>Category</b></h3>
  <div class="image-row">
    <div class="product">
      <img src="https://i.pinimg.com/564x/3f/15/af/3f15af5ea021b560c6eff28be681538f.jpg" alt="lipstick">
      <h4><a routerLink="/lips">Lipstick</a></h4>
    </div>
  <div class="product">
    <img src="https://i.pinimg.com/564x/e3/a2/94/e3a294891d23619bbdc304cab3906ea4.jpg" alt="primer">
    <h4><a routerLink="/base">Primer</a></h4>
  </div>
  <div class="product">
    <img src="https://i.pinimg.com/564x/0e/09/d6/0e09d68ffa05d81690cb43d7ee5996b3.jpg" alt="eyeliners">
    <h4><a routerLink="/eyes">Eyeliners</a></h4>
  </div>
  <div class="product">
    <img src="https://i.pinimg.com/564x/48/2c/a5/482ca5573041a1e855f9ff675b245ba0.jpg" alt="moisturizer">
    <h4><a routerLink="/base">Moisturizer</a></h4>
  </div>
  <div class="product">
    <img src="https://i.pinimg.com/564x/d5/9d/84/d59d84c378a777bdcb5dbd93b383b097.jpg" alt="maskara">
    <h4><a routerLink="/eyes">Maskara</a></h4>
  </div>
  <div class="product">
    <img src="https://i.pinimg.com/564x/f3/ca/64/f3ca6415a827c8f27e409309b0b75f2d.jpg" alt="fixing spray">
    <h4><a routerLink="/sprays">Fixing Spray</a></h4>
  </div>
  <div class="product">
    <img src="https://i.pinimg.com/564x/6d/bb/b0/6dbbb03731692e5c23d19280f7c710c9.jpg" alt="lipbalm">
    <h4><a routerLink="/lips">Lipbalm</a></h4>
  </div>
  <div class="product">
    <img src="https://i.pinimg.com/564x/e0/0b/63/e00b63d1e5cddc09a4652b5a24b9f391.jpg" alt="eyebrows">
    <h4><a routerLink="/eyes">Eyebrows</a></h4>
  </div>
  </div>
</div>

<!-- =========================================================================================================== -->
<div class="offerbutton">
  <div class="ui animated button btn" tabindex="0">
    <div class="ui animated fade button btn"  tabindex="0">
      <div class="visible content" id="button" style="color: black;">Offer Products</div>
      <div class="hidden content" style="color: black;">
        Deal of the day
      </div>
    </div>
</div>

<br>





