h3{
  text-align: center;
}
.buynow {
  margin: 20px;
  border-radius: 10px;
  width: 40%;
  border: 1px solid #180148;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-left: 400px;
}
.upiIdInput{
  margin: 0px;
  padding: 0px;
  margin-left: 50px;
  padding: 5px;
}
.upiIdInput button{
  margin-left: 30px;
  padding: 7px;
}

li
{
  list-style-type: number;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: medium;
}
input{
  padding: 5px;
  margin: 5px;
  margin-left: 10px;
}
label{

}
span{
  color: red;
  font-size: small;
  margin-left: 2px;
}
button .myForm  {
  border: 2px solid green;
  box-shadow: 0 0 31px rgba(78, 233, 84, 0.7);
}
.myForm.INVALID {
  border: 1px solid red;
  box-shadow: 0 0 31px rgba(255,0,0, 0.7);
}
